*{
margin:0;
padding:0;
box-sizing:border-box;

}
body{
scroll-vehavior:smooth;
overflow-y: scroll;



}
header{
width:100%;
position:relative ;
top: 0;
height:300px ;
background:pink;
background-size:cover;
background-position: fixed;
display: flex;
justify-content : center;
align-items:center;
box-shadow:0 0 10px gray;
}
.nav{
position:fixed;
top:0 ;
left:0;
width:100% ;
z-index:1000 ;
}
#logo{
position: absolute;
top: -20px;;
height: 90px;
}
.nav ul{

list-style:none  ;
position:absolute ;
right:0;
}
.nav ul li{
display: inline-block;
margin:10px ;
font-weight: 10000;



}
.nav ul a{
color: #fff;
font-size: 15px;
}
.nav ul a:hover{
border-radius:30px;
padding:5px ;

text-decoration: none ;
backdrop-filter:blur(12px);
box-shadow:inset 0 0 10px rgba(0,0,0,0.3),0 0 10px rgba(0,0,0,0.3);
}
.text{
position:absolute  ;
left:0;

}
.text h1{
font-size: 50px;
color: red;


}
.text p{

color:red ;


}
.text a{
padding:10px 10px ;
background: #fff;
border-radius:20px;
text-decoration:none ;
}
.text a:hover{
background:red ;
text-decoration: none;
}
header .swiper{
width: 200px;
position:absolute  ;
height: 200px;
background: url("images(30).jpeg") center center;
background-size:cover;
background-position: ;
background-attachment:center;
right:100px;
box-shadow:inset 0 0 20px gray,0 0 20px rgba(0,0,0,0.3);
border-radius:20px;
}
header .swiper .swiper-slide {
width: 100px;

height:100px ;
display:flex ;
justify-content :center ;
align-items:center;
}
header .swiper .swiper-slide img{
width:120px ;
height:120px ;
top:10px ;
position: absolute;

}
header .swiper .swiper-slide h5{
position: absolute ;
top: 130px;


}
header .swiper .swiper-slide a{
position: absolute;

top: 139px ;

}
header .swiper .swiper-slide h2 { 
position:absolute  ;
bottom: -100px;
left:10px;
font-size:30px;
color:red;
}
#dis{

left:20px;
bottom: -70px;
font-size: 15px;
color: black ;
text-decoration:line-through ;
}
.mam{
position: absolute ;
width:100% ;
height:350px;
background:pink ;
top:370px;
box-shadow:0 0 30px gray;

}
.mam .card{

display: flex;
justify-content :center ;
align-items:center;
width:27%;
height:250px ;
background: pink;
position: absolute ;
top: 80px;
left:30px;
border-radius :30px;
border:4px solid pink;
box-shadow:inset 0 0 20px gray,0 0 20px rgba(0,0,0,0.3);
}
.mam .card h1{
color: pink;
-webkit-text-stroke: 2px pink;
text-shadow: 0 0 20px gray;
 }
.mam .card a{
padding:10px ;
background:pink;
border-radius:30px;
border: 2px solid pink ;
box-shadow:inset 0 0 10px gray,0 0 10px gray;
display: block;
text-decoration:none ;
}
.mam .card a:hover{
background: #fff;
text-decoration:none ;
color: blue;
}
.mam .card h3{
color: pink;
font-weight:6000;
-webkit-text-stroke:2px #fff;
}
.mam .card span{
color:blue;


}
.mam .card:nth-child(2){
left:270px;


}
.mam .card:nth-child(3){
left:520px;


}
.mam .card img{
position: absolute;
width: 160px;


}
.mam h4{
position: absolute;
left:35%;
font-size: 40px;
color: pink;
font-weight: 1000;
-webkit-text-stroke:2px #fff;
text-shadow:0 0 10px #fff;
}
.date{
height:400px ;
width:100% ;


}
.food{
width: 100%;
height: 400px;
position: absolute ;
background:pink;
top: 780px;
}
.food .swiper{
width: 100%;
height:100%;

}
.food .swiper-slide{
width: 400px;
height:300px ;
border:4px solid pink;
box-shadow:inset 0 0 20px gray,0 0 20px rgba(0,0,0,0.3);
position:relative ;
top: 30px;
border-radius:30px;
overflow: hidden;
}
.swiper-slide img{
width:200px ;
height: 280px;
position:absolute  ;
border-radius:30px;
top: 5px;
}
.swiper-slide h1 { 
position: absolute ;
right:200px;
top:40px ;
font-weight: 1000;
-webkit-text-stroke:2px #fff;
text-shadow:0 0 10px #fff;
color: pink;
text-shadow:0 0 10px #fff;
}
.swiper-slide a{
position: absolute ;
padding:10px ;
background:pink;
border-radius:30px;
border: 2px solid pink ;
box-shadow:inset 0 0 10px gray,0 0 10px gray;
display: block;
top:180px ;
right:270px;
transform :translateY(300px);
text-decoration: none;
}
.swiper-slide a:hover{
background: #fff;
text-decoration:none ;
color: blue;

}
.swiper-slide:hover a{

transform :translateY(20px);
transition:1s;

}
.swiper-slide h3{

position: absolute ;
color: pink;
font-weight:6000;
-webkit-text-stroke:2px #fff;
left:420px;
top: 100px;
}
footer{
position: absolute ;
width: 100%;
height:300px ;
background:black;
display: flex;
justify-content :center ;
flex-direction: column;
top:1200px;
}
footer a img{

display: inline-block;



}
#fb{
height: 50px;
}
footer h5,p{

color:#fff;



}

@media screen and (max-width:400px){
header{
top:60px ;

}
.nav{
position: fixed;
top:-60px ;
background:#fff ;
width: 100%;
height:60px ;
z-index: 100;
overflow:hidden ;
transition:1s;
margin-top:60px ;
}
.nav ul li a{
color:black;


 }
.nav ul li{

display: block ;


}
.nav ul{
right:90px;
top:50px ;
line-height:4;
}
.nav:after{
content:'' ;
position: absolute;
width: 40px;
height:10px ;
right:20px;
top:20px ;
background:blue;
border-radius:20px;
pointer-events : none;
}
.nav:before{
content:'' ;
position: absolute;
width: 40px;
height:10px ;
right:20px;
top:35px ;
background:blue;
border-radius:20px;
pointer-events :none ;
}
.nav.active{
height:500px ;
transition:1s;


}
header .swiper{
right:0;
width:150px ;
height:150px ;
}
header .swiper .swiper-slide {

width:100px ;
height:100px ;


}
header .swiper .swiper-slide img{
width:100px ;
height:100px ;

}
header .swiper .swiper-slide h5{ 
top: 100px;



}
header .swiper .swiper-slide h2{ 
top: 120px;
font-size: 20px;


}
#dis{
left:0;
top:100px;


}
.mam{
height: 1000px;



}
.mam h4{
position: absolute;
left:20%;


}
.mam .card:nth-child(2){
top: 400px;

left:20px;

}
.mam .card{
width: 90%;
left:20px;

}
.mam .card:nth-child(3){
top:700px;
left:20px;

}
.food{
top:1400px ;

}
.swiper-slide h1 { 
right:20px;



}
.swiper-slide a{ 
right:50px;



}

.swiper-slide h3{
left:270px;



}
footer{
top: 1800px;



}

}
